

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Arial, sans-serif;

}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
}

h2{
    text-align: center;
    margin: 20px 0 20px 0;
}

.form-container {
  width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffccb4;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.name, .time{
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

label {
  margin: 8px 0 8px 0;
  width:200px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

a{
  color: #fff;
}

.button-container{ 
  text-align: center;
  margin: 10px 0 0 0;
  
}

button {
  background-color: #d64933;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  width: 150px;
}

button:hover {
  background-color: #973324;
}

.back{
    background-color: rgb(1, 19, 209);
}

.back:hover{
    background-color: rgb(0, 13, 151);
    color: #000;

}

textarea#description,
textarea#ingredients,
textarea#steps{
    width: 400px;

}

.image{
  display: flex;
  margin: 0;
}

#current-image{
  display: flex;
  align-items: center;
  justify-content: center;
}

#current-image img{
  height: 100px;
  width: auto;
  background-color: #3d3d3d;
}
